<md-content layout="column" flex>
    <md-content layout="row">
        <md-input-container flex>
            <label>Project Area</label>
            <md-select id="paSelect" ng-model="selectedProjectArea" ng-change="ctrl.getSprints()">
                <md-option ng-repeat="projectArea in projectAreas" ng-value="projectArea">
                    {{projectArea.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>Sprint</label>
            <md-select id="sprintSelect" ng-model="selectedSprint" ng-change="ctrl.getWorkItems()">
                <md-option value="current">Current</md-option>
                <md-option ng-repeat="sprint in sprints | orderBy : '-endDate'" ng-value="sprint.name">
                    {{sprint.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <label>Filed Against</label>
            <md-select id="teamSelect" ng-model="selectedTeam" ng-change="ctrl.getWorkItems()" >
                <md-option>None</md-option>
                <md-option ng-repeat="category in categories | orderBy : 'name'" ng-value="category.name">
                    {{category.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-content>

    <md-content layout="row">
        <md-chips ng-model="selectedTags" placeholder="Enter a tag"></md-chips>
    </md-content>

    <md-content layout="row">
        Stories
        <md-content layout="column" flex="50" layout-align="center">
            <canvas class="chart chart-bar" flex
                    chart-data="chartData"
                    chart-labels="chartLabels">
            </canvas>
        </md-content>
    </md-content>

    <md-content layout="row">
        Defects
        <md-content layout="column" flex="50" layout-align="center">
            <canvas class="chart chart-bar" flex
                    chart-data="defectChartData"
                    chart-labels="chartLabels">
            </canvas>
        </md-content>
    </md-content>

    <md-content layout="row" flex="70">
        <md-content layout="column" flex="25">
            RFD: {{rfdWorkItems.length}}
            <md-grid-list>
                <md-card ng-repeat="workItem in rfdWorkItems" style="height: 200px">
                    <rtc-work-item-directive></rtc-work-item-directive>
                </md-card>
            </md-grid-list>
        </md-content>
        <md-content layout="column" flex="25">
            In Progress: {{inProgressWorkItems.length}}
            <md-grid-list>
                <md-card ng-repeat="workItem in inProgressWorkItems" style="height: 200px">
                    <rtc-work-item-directive></rtc-work-item-directive>
                </md-card>
            </md-grid-list>
        </md-content>
        <md-content layout="column" flex="25">
            IST: {{inScrumTestWorkItems.length}}
            <md-grid-list>
                <md-card ng-repeat="workItem in inScrumTestWorkItems" style="height: 200px">
                    <rtc-work-item-directive></rtc-work-item-directive>
                </md-card>
            </md-grid-list>
        </md-content>
        <md-content layout="column" flex="25">
            Done: {{doneWorkItems.length}}
            <md-grid-list>
                <md-card ng-repeat="workItem in doneWorkItems" style="height: 200px">
                    <rtc-work-item-directive></rtc-work-item-directive>
                </md-card>
            </md-grid-list>
        </md-content>
    </md-content>
</md-content>