<md-card-header>
    <md-card-title-media flex="25">
        <div ng-if="workItem.type == 'DEFECT'" class="md-media-sm card-media mdi mdi-24px mdi-bug"></div>
        <div ng-if="workItem.type == 'STORY'" class="md-media-sm card-media mdi mdi-24px mdi-book-open-page-variant"></div>
        <div ng-if="workItem.type == 'EPIC'" class="md-media-sm card-media mdi mdi-24px mdi-book"></div>
    </md-card-title-media>
    <md-card-header-text layout="row">
        <div layout="column" flex="25">
            <span>{{workItem.id}}</span>
        </div>
        <div layout="column" flex="25">
            <span layout="column" flex="25">{{workItem.status}}</span>
        </div>
        <div layout="column" flex="25">
            <span layout="column" flex="25">{{workItem.owner.name}}</span>
        </div>
    </md-card-header-text>
</md-card-header>
<md-card-title>
    <md-card-title-text>
        <span>{{workItem.title}}</span>
        <span>{{workItem.filedAgainst}}</span>
    </md-card-title-text>
</md-card-title>